<div class="container mt-5">
    <h1>Penrose Examples</h1>

    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" routerLink="/example/person" routerLinkActive="active">Person Form</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/example/order" routerLinkActive="active">Order Form</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/example/register" routerLinkActive="active">Register Form</a>
        </li>
    </ul>
</div>

<router-outlet></router-outlet>
