<div class="container mt-5">
    <h2>Person Form</h2>
    <pen-form [model]="personForm"></pen-form>
    <button class="btn btn-primary" (click)="savePerson()">save</button>
</div>

<div class="container mt-5">
    <h2>Custom Person Form</h2>
    <pen-form [model]="personForm">
        <div class="form-row">
            <pen-form-group class="col-md-6" [field]="personForm.firstName"></pen-form-group>
            <pen-form-group class="col-md-6" [field]="personForm.lastName"></pen-form-group>
        </div>

        <pen-form-group [field]="personForm.age"></pen-form-group>
        <pen-form-group [field]="personForm.isNice"></pen-form-group>

        <button class="btn btn-primary">Save</button>
    </pen-form>
</div>

<div class="container mt-5">
    <h2>Order</h2>
    <pen-form [model]="orderForm">
        <pen-form-group [field]="orderForm.name"></pen-form-group>
        <pen-form-group [field]="orderForm.description"></pen-form-group>
        <pen-form-group [field]="orderForm.employee"></pen-form-group>

        <div class="form-row" *ngFor="let product of orderForm.products">
            <pen-form-group class="col" [field]="product.product"></pen-form-group>
            <pen-form-group class="col" [field]="product.count"></pen-form-group>
        </div>

        <div>
            <button class="btn btn-primary mr-2" (click)="addOrderProduct()">Add</button>
            <button class="btn btn-primary">Login</button>
        </div>
    </pen-form>
</div>